
<div class="container">
<%if @movies==[] %>
<h2>Watched none</h2>
<%else%>
<h1>Movies you have watched</h1>
<table class="table table-bordered table-striped table-hover">
<% @movies.each do |movie| %>
 
   <tbody>
     <tr>
        <div>
        
         <td> <%= link_to movie.movie_title ,home_path(movie.movie_id)%>
           </td>
           
          
        
       </div>
     </tr>
   </tbody>
     <%end%>
     </table>
     <%end%>
     </div>