<h2>Feed</h2>
<div class="content">
<table class="table table-bordered table-striped table-hover">
<tbody>
    
    <% @movies1.each do |item1| %>
    <tr>
	<td><strong><%= item1.user.email %></strong> has watched  
    <%= link_to item1.movie_title,home_path(item1.movie_id) %></td>
   <%end%>
   </tr>
   <% if @movies2!=[] %>
   <tr>
   <td><% @movies2.each do |item2| %>
   <%= item2.user.email %> has watched 
   <%= item2.movie_title %>
   </td>
   <%end%>
   </tr>
   <%end%>
</tbody>
</table>
</div>