<%= @user.email  %>
<%= image_tag @user.picture.url if @user.picture? %>
<% if current_user.id == @user.id %>
<% else %>
<% if @con1==[] && @con2==[] %>
 <%= button_to "Add Friend", friendships_path(friend_id: @user), method: :post,class: "btn btn-primary" %>
 
 
 <% else %>
   <p>Pending/Already friends</p>
 <% end %>
 <% end %>