<div class="jumbotron">
<h1>Welcome to the Movie Mela</h1>
</div>

<div class=container>
<h1>Trending Now!</h1>
<table class="table table-bordered table-striped table-hover">
 
  <%= render 'home/partial' %>

</table>
</div>





