// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.content{
padding:10px;
margin-top:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
}

.poster{
	float:left;
}

.main{
	width:780px;
	float:right;
	padding-left:10px;
}

.details{
    padding-top:30px;
	width:150px;
	clear:both;

	h6{
	color: black;
	border: none;
	}
	
}

h6{
	color: red;
	
}
