#topnav{
padding-bottom:60px;
}

h2{
  line-height:1;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
} 

h5{

  text-align: center;
}  

.field{
	margin:4px;
}
.actions{
	margin-top:5px;
}

#detail{
	text-align:right;
	margin:0px 6px 0px 0px;

}

.jumbotron h1{
     text-align:center;
}