<footer class="footer">
  <small>
    <a>The movie go app by anuj and tanuj</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.bollywoodhungama.com/">News</a></li>
    </ul>
  </nav>
</footer>